openapi: 3.2.0
info:
  title: Lemlist Users API
  version: 1.0.0
  description: 'Operations tagged Users across 3 of this provider''s published API definitions: lemlist-openapi-v1-legacy.json, lemlist-openapi-v2.json, lemlist-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemlist.com/api
tags:
- name: Users
paths:
  /users/{userId}:
    parameters:
    - name: userId
      in: path
      required: true
      example: '{{userId}}'
      schema:
        type: string
    get:
      summary: Get user
      tags:
      - Users
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  email:
                    type: string
                    format: email
                  role:
                    type: string
                  linkedIn:
                    type: object
                    properties:
                      status:
                        type: boolean
                      inviteLimit:
                        type: integer
                      sendLimit:
                        type: integer
                      visitLimit:
                        type: integer
                  mailboxes:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        email:
                          type: string
                          format: email
                        provider:
                          type: string
                        status:
                          type: string
                        lemlist:
                          type: object
                          properties:
                            emailLimit:
                              type: integer
                        lemwarm:
                          type: object
                          properties:
                            active:
                              type: boolean
              example:
                _id: usr_QAucgYReK6EmMB3Cz
                email: example@lempire.co
                role: admin
                linkedIn:
                  status: true
                  inviteLimit: 25
                  sendLimit: 33
                  visitLimit: 36
                mailboxes:
                - _id: usm_bsdepN6jb8zftK9Ns
                  email: example@gmail.com
                  provider: google
                  status: ERROR
                  lemlist:
                    emailLimit: 50
                  lemwarm:
                    active: false
                - _id: usm_gPKrqoNxaXxScTpPh
                  email: example@outlook.com
                  status: ERROR
                  lemlist:
                    emailLimit: 50
                  lemwarm:
                    active: false
        '401':
          headers: {}
          description: Unauthorized
    servers:
    - url: https://api.lemlist.com/api
  /user/channels:
    get:
      summary: Get User Channels
      tags:
      - Users
      parameters: []
      responses:
        '200':
          description: Connected channels and feature availability for the authenticated user
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    type:
                    - string
                    - 'null'
                    description: Current billing plan name
                  email:
                    type: object
                    properties:
                      connected:
                        type: boolean
                        description: Whether at least one email account is connected
                      available:
                        type: boolean
                        description: Whether the email channel is available on the current plan
                      accounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Mailbox identifier
                            email:
                              type: string
                              description: Email address
                            provider:
                              type: string
                              enum:
                              - google
                              - microsoft
                              - custom
                              description: Email provider
                  linkedin:
                    type: object
                    properties:
                      connected:
                        type: boolean
                        description: Whether LinkedIn is connected
                      available:
                        type: boolean
                        description: Whether LinkedIn is available on the current plan
                  whatsapp:
                    type: object
                    properties:
                      connected:
                        type: boolean
                        description: Whether at least one WhatsApp account is connected
                      available:
                        type: boolean
                        description: Whether WhatsApp is available on the current plan
                      addonActive:
                        type: boolean
                        description: Whether the WhatsApp addon is active
                      accounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: WhatsApp account identifier
                            phoneNumber:
                              type: string
                              description: Phone number
                            label:
                              type: string
                              description: Account label
              example:
                plan: Multichannel Expert
                email:
                  connected: true
                  available: true
                  accounts:
                  - id: usm_2mkqJNUjnJQiyVBht
                    email: john@acme.com
                    provider: google
                linkedin:
                  connected: true
                  available: true
                whatsapp:
                  connected: false
                  available: true
                  addonActive: false
                  accounts: []
        '400':
          description: 'Possible errors: Bad team / No user found for this api key'
          content:
            text/plain:
              example: Bad team
        '405':
          description: Only GET method is supported
          content:
            text/plain:
              example: Bad method
      security:
      - basicAuth: []
    servers:
    - url: https://api.lemlist.com/api
components:
  schemas:
    User:
      type: object
      description: A team member account with connected email and/or LinkedIn sending capabilities.
      properties:
        _id:
          type: string
          description: Unique user identifier
        email:
          type: string
          format: email
          description: User email address
        role:
          type: string
          description: User role in the team (admin, member, etc.)
        linkedIn:
          type: object
          description: LinkedIn integration settings
          properties:
            linkedinUrl:
              type: string
              description: The LinkedIn URL of the person
            status:
              type: boolean
              description: Whether LinkedIn is connected
            inviteLimit:
              type: integer
              description: Daily limit for LinkedIn connection invites
            sendLimit:
              type: integer
              description: Daily limit for LinkedIn messages
            visitLimit:
              type: integer
              description: Daily limit for LinkedIn profile visits
        mailboxes:
          type: array
          description: Email mailboxes connected to this user
          items:
            $ref: '#/components/schemas/Mailbox'
    Mailbox:
      type: object
      description: An email account connected to a user for sending campaigns.
      properties:
        _id:
          type: string
          description: Unique mailbox identifier
        email:
          type: string
          format: email
          description: Mailbox email address
        provider:
          type: string
          description: Email provider (google, microsoft, etc.)
        status:
          type: string
          description: Connection status
          enum:
          - CONNECTED
          - ERROR
          - DISCONNECTED
        lemlist:
          type: object
          properties:
            emailLimit:
              type: integer
              description: Daily send limit
        lemwarm:
          type: object
          properties:
            active:
              type: boolean
              description: Lemwarm activation status
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- lemlist-openapi-v1-legacy.json
- lemlist-openapi-v2.json
- lemlist-openapi.yml
