openapi: 3.2.0
info:
  title: lemlist Stats API
  version: 1.0.0
  description: Welcome to the lemlist Developer Documentation.
servers:
- url: https://api.lemlist.com/api
tags:
- name: Stats
paths:
  /campaigns/{campaignId}/stats:
    parameters:
    - name: campaignId
      in: path
      required: true
      example: '{{campaignId}}'
      schema:
        type: string
    get:
      summary: Campaign stats
      tags:
      - Stats
      parameters:
      - name: startDate
        in: query
        required: false
        example: '2024-01-07T22:00:00.000Z'
        schema:
          type: integer
      - name: endDate
        in: query
        required: false
        example: '2024-07-10T21:59:59.999Z'
        schema:
          type: integer
      - name: timezone
        in: query
        required: false
        example: Europe/Paris
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Campaign stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  leadTotal:
                    type: integer
                  leadToLaunch:
                    type: integer
                  leadReadyToSend:
                    type: integer
                  leadInProgress:
                    type: integer
                  leadCompleted:
                    type: integer
                  sentCount:
                    type: integer
                  deliveredCount:
                    type: integer
                  openedCount:
                    type: integer
                  clickedCount:
                    type: integer
                  repliedCount:
                    type: integer
                  interestedCount:
                    type: integer
              example:
                leadTotal: 0
                leadToLaunch: 0
                leadReadyToSend: 0
                leadInProgress: 0
                leadCompleted: 0
                sentCount: 0
                deliveredCount: 0
                openedCount: 0
                clickedCount: 0
                repliedCount: 0
                interestedCount: 0
      operationId: getCampaignsByCampaignIdStats
      x-operation-id-source: derived
  /v2/campaigns/{campaignId}/stats:
    parameters:
    - name: campaignId
      in: path
      required: true
      example: '{{campaignId}}'
      schema:
        type: string
    get:
      summary: Campaign stats V2
      tags:
      - Stats
      parameters:
      - name: startDate
        in: query
        required: false
        example: '2024-01-07T22:00:00.000Z'
        schema:
          type: integer
      - name: endDate
        in: query
        required: false
        example: '2025-07-10T21:59:59.999Z'
        schema:
          type: integer
      - name: sendUser
        in: query
        required: false
        example: usr_b62rnsjxu236ttSH3|email@example.com
        schema:
          type: string
      - name: ABSelected
        in: query
        required: false
        example: A
        schema:
          type: string
      - name: channels
        in: query
        required: false
        example: '["others", "linkedin", "email"]'
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        default:
          headers: {}
          description: Campaign stats V2
      operationId: getV2CampaignsByCampaignIdStats
      x-operation-id-source: derived
