openapi: 3.0.0
info:
  title: lemlist lemwarm API
  version: 1.0.0
  description: The lemwarm operations of the lemlist API, split by tag from the OpenAPI lemlist publishes
    at https://developer.lemlist.com/api-reference/openapi/v2.json. Operation content is carried verbatim
    from the provider spec.
servers:
- url: https://api.lemlist.com/api
security:
- basicAuth: []
tags:
- name: lemwarm
paths:
  /lemwarm/{userMailboxId}/start:
    post:
      summary: Start lemwarm
      tags:
      - lemwarm
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
        '400':
          description: 'Possible errors: Bad team / Error from warmupToggle (invalid-usermailbox, invalid-sender,
            mailbox-deleted, emailWarmedByAnotherAccount, billing-error, etc.)'
          content:
            text/plain:
              example: Bad team
        '401':
          description: The authentication you supplied is incorrect
          content:
            text/plain:
              example: The authentication you supplied is incorrect
        '405':
          description: Method not allowed
    parameters:
    - name: userMailboxId
      in: path
      required: true
      description: The unique identifier of the user mailbox
      example: usm_2mkqJNUjnJQiyVBht
      schema:
        type: string
  /lemwarm/{userMailboxId}/pause:
    post:
      summary: Pause lemwarm
      tags:
      - lemwarm
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
        '400':
          description: 'Possible errors: Bad team / Error from warmupToggle'
          content:
            text/plain:
              example: Bad team
        '401':
          description: The authentication you supplied is incorrect
          content:
            text/plain:
              example: The authentication you supplied is incorrect
        '405':
          description: Method not allowed
    parameters:
    - name: userMailboxId
      in: path
      required: true
      description: The unique identifier of the user mailbox
      example: usm_2mkqJNUjnJQiyVBht
      schema:
        type: string
  /lemwarm/{userMailboxId}/settings:
    get:
      summary: Get lemwarm Settings
      tags:
      - lemwarm
      parameters: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LemwarmSettings'
              example:
                warmEmailRampup: 5
                warmEmailMax: 5
                activeAt: '2025-04-10T07:38:31.530Z'
                deliverability:
                  score: 70
                  lastAt: '2025-04-09T13:34:43.998Z'
        '400':
          description: 'Possible errors: Bad team / Error retrieving settings'
          content:
            text/plain:
              example: Bad team
        '401':
          description: The authentication you supplied is incorrect
          content:
            text/plain:
              example: The authentication you supplied is incorrect
        '405':
          description: Method not allowed
    parameters:
    - name: userMailboxId
      in: path
      required: true
      description: The unique identifier of the user mailbox
      example: usm_2mkqJNUjnJQiyVBht
      schema:
        type: string
    patch:
      summary: Update lemwarm Settings
      tags:
      - lemwarm
      parameters: []
      requestBody:
        description: Provide only the fields you want to change; omitted fields keep their current value.
          At least one field is required.
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                warmEmailMax:
                  type: integer
                  description: Maximum number of warmup emails per day (0-40; the server enforces 1-40
                    unless the team has the lemwarm0limit beta)
                warmEmailRampup:
                  type: integer
                  description: Daily increase in the warmup email count (0-40; the server enforces 1-40
                    unless the team has the lemwarm0limit beta)
                internalCommunicationPercent:
                  type: integer
                  description: Percentage of warmup emails sent to internal participants (0-100)
                answerPercentage:
                  type: integer
                  description: Percentage of warmup emails that should be answered (0-100)
                warmUsePlaintext:
                  type: boolean
                  description: Whether warmup emails are sent as plain text
                warmDailyVarianceEnabled:
                  type: boolean
                  description: Whether to apply a random daily variance to the warmup email target (spreads
                    volume day-to-day instead of a flat number)
            example:
              warmEmailMax: 30
              warmEmailRampup: 5
              warmDailyVarianceEnabled: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
        '400':
          description: 'Possible errors: Bad team / A provided field has the wrong type / Error updating
            settings'
          content:
            text/plain:
              example: Bad team
        '401':
          description: The authentication you supplied is incorrect
          content:
            text/plain:
              example: The authentication you supplied is incorrect
        '405':
          description: Method not allowed
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    LemwarmSettings:
      type: object
      description: Lemwarm configuration for a mailbox.
      properties:
        active:
          type: boolean
        dailyLimit:
          type: integer
        warmupTemplate:
          type: string
        warmDailyVarianceEnabled:
          type: boolean
          description: Whether a random daily variance is applied to the warmup email target
        deliverability:
          type: object
          properties:
            score:
              type: integer
            lastAt:
              type: string
              format: date-time
              description: Timestamp of last deliverability check
