openapi: 3.2.0
info:
  title: Lemlist People database API
  version: 1.0.0
  description: 'Operations tagged People database across 3 of this provider''s published API definitions: lemlist-openapi-v1-legacy.json, lemlist-openapi-v2.json, lemlist-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemlist.com/api
tags:
- name: People database
paths:
  /database/filters:
    parameters: []
    get:
      summary: Filters
      tags:
      - People database
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    filterId:
                      type: string
                    description:
                      type: string
                    mode:
                      type: array
                      items:
                        type: string
                    type:
                      type: string
                    helper:
                      type: string
              example:
              - filterId: filterId
                description: filterId description
                mode:
                - leads
                - companies
                type: text
                helper: Use free text search (to fill the in and/or out array)
    servers:
    - url: https://api.lemlist.com/api
  /database/people:
    parameters: []
    post:
      summary: People database
      tags:
      - People database
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: {}
                  total:
                    type: integer
                  took:
                    type: integer
                  page:
                    type: integer
                  size:
                    type: integer
                  search:
                    type: string
                  limitation:
                    type: integer
                  team:
                    type: string
              example:
                results: []
                total: 18540918
                took: 903
                page: 1
                size: 100
                search: lsh_ENeC6oBSdwSArkywL
                limitation: 999
                team: tea_MtScZ2GexXzHXRdTr
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      filterId:
                        type: string
                      in:
                        type: array
                        items:
                          type: string
                      out:
                        type: array
                        items: {}
                page:
                  type: integer
            example:
              filters:
              - filterId: country
                in:
                - France
                out: []
              page: 1
    servers:
    - url: https://api.lemlist.com/api
  /schema/people:
    parameters: []
    get:
      summary: People schema
      tags:
      - People database
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  schema:
                    type: object
                    properties:
                      lead_id:
                        type: integer
                      canonical_shorthand_name:
                        type: string
                      connections_count:
                        type: integer
                      country:
                        type: string
                      full_name:
                        type: string
                      education:
                        type: array
                        items:
                          type: object
                          properties:
                            activities_and_societies:
                              type: string
                            created:
                              type: string
                              format: style
                            date_from:
                              type: string
                              format: utc-millisec
                            date_to:
                              type: string
                              format: utc-millisec
                            deleted:
                              type: string
                              format: utc-millisec
                            description:
                              type: string
                            id:
                              type: string
                              format: utc-millisec
                            last_updated:
                              type: string
                              format: style
                            member_id:
                              type: string
                              format: utc-millisec
                            school_url:
                              type: string
                              format: uri
                            subtitle:
                              type: string
                            title:
                              type: string
                      experience_count:
                        type: integer
                      experiences:
                        type: array
                        items:
                          type: object
                          properties:
                            company_id:
                              type: integer
                            company_description:
                              type: string
                            company_employee_count:
                              type: integer
                            company_followers_count:
                              type: integer
                            company_founded:
                              type: integer
                            company_headquarters_city:
                              type: string
                            company_headquarters_country:
                              type: string
                            company_industry:
                              type: string
                            company_linkedin_url:
                              type: string
                              format: uri
                            company_logo_url:
                              type: string
                              format: uri
                            company_name:
                              type: string
                            company_size:
                              type: string
                            company_type:
                              type: string
                            company_url:
                              type: string
                              format: uri
                            company_website_url:
                              type: string
                              format: uri
                            employees_count_bucket:
                              type: string
                            revenue_bucket:
                              type: string
                            company_domain:
                              type: string
                            employees_count_growth:
                              type: integer
                            company_is_hiring:
                              type: boolean
                            company_function_array:
                              type: array
                              items:
                                type: string
                            last_funding_round_at:
                              type: string
                              format: date
                            techno_used_array:
                              type: array
                              items:
                                type: string
                            business_business_customer:
                              type: string
                              format: color
                            current_exp_bucket:
                              type: string
                            created:
                              type: string
                              format: style
                            date_from:
                              type: string
                            date_to:
                              type: string
                            description:
                              type: string
                            duration:
                              type: string
                            id:
                              type: string
                              format: utc-millisec
                            last_updated:
                              type: string
                              format: style
                            location:
                              type: string
                            member_id:
                              type: string
                              format: utc-millisec
                            order_in_profile:
                              type: integer
                            title:
                              type: string
                            title_normalized:
                              type: string
                            main_in_profile:
                              type: boolean
                      interests:
                        type: array
                        items:
                          type: object
                          properties:
                            interest:
                              type: string
                            interest_id:
                              type: string
                      languages:
                        type: array
                        items:
                          type: object
                          properties:
                            language:
                              type: string
                            proficiency:
                              type: string
                      last_updated:
                        type: string
                        format: style
                      lead_industry:
                        type: string
                      lead_linkedin_url:
                        type: string
                        format: uri
                      lead_logo_url:
                        type: string
                        format: uri
                      linkedin_short:
                        type: string
                      location:
                        type: string
                      skills:
                        type: array
                        items:
                          type: object
                          properties:
                            skill:
                              type: string
                            skill_id:
                              type: string
                      summary:
                        type: string
                      title:
                        type: string
                      lead_quality_score:
                        type: integer
                      seniority:
                        type: string
                      department:
                        type: string
                      connections_count_bucket:
                        type: string
                      years_of_exp_bucket:
                        type: string
                      current_exp_company_name:
                        type: string
                      geopoint:
                        type: array
                        items:
                          type: number
                      _score:
                        type: number
                      _id:
                        type: string
                        format: utc-millisec
                  version:
                    type: integer
              example:
                schema:
                  lead_id: 231488528
                  canonical_shorthand_name: john-doe-123456718
                  connections_count: 500
                  country: United States
                  full_name: John Doe
                  education:
                  - activities_and_societies: AI Research Club, Robotics Team
                    created: 2024-01-17 06:49:05 UTC
                    date_from: '2019'
                    date_to: '2022'
                    deleted: '0'
                    description: Focus on Machine Learning and Data Science
                    id: '2630204628'
                    last_updated: 2024-01-17 06:49:05 UTC
                    member_id: '231488528'
                    school_url: https://university.edu/profile
                    subtitle: Master of Science in Computer Science
                    title: Stanford University
                  experience_count: 3
                  experiences:
                  - company_id: 789012
                    company_description: Leading AI and Machine Learning Solutions Provider
                    company_employee_count: 5000
                    company_followers_count: 50000
                    company_founded: 2010
                    company_headquarters_city: San Francisco
                    company_headquarters_country: United States
                    company_industry: Information Technology
                    company_linkedin_url: https://linkedin.com/company/techcorp
                    company_logo_url: https://company.com/logo.png
                    company_name: TechCorp Inc.
                    company_size: 1001-5000 employees
                    company_type: Public Company
                    company_url: https://linkedin.com/company/techcorp
                    company_website_url: https://techcorp.com
                    employees_count_bucket: 1001-5000
                    revenue_bucket: $50M - $100M
                    company_domain: techcorp.com
                    employees_count_growth: 25
                    company_is_hiring: true
                    company_function_array:
                    - Engineering
                    - Research
                    - Information Technology
                    last_funding_round_at: '2023-12-15'
                    techno_used_array:
                    - Python
                    - TensorFlow
                    - AWS
                    - Docker
                    business_business_customer: B2B
                    current_exp_bucket: 1 to 3 years
                    created: 2024-01-17 04:41:50 UTC
                    date_from: Jan 2022
                    date_to: Present
                    description: Leading AI initiatives and machine learning projects
                    duration: 2 years 1 month
                    id: '2194433831662'
                    last_updated: 2024-01-17 04:41:50 UTC
                    location: San Francisco Bay Area
                    member_id: '231488528'
                    order_in_profile: 1
                    title: Senior Machine Learning Engineer
                    title_normalized: Senior Machine Learning Engineer
                    main_in_profile: true
                  interests:
                  - interest: Artificial Intelligence
                    interest_id: ai-123
                  - interest: Machine Learning
                    interest_id: ml-456
                  languages:
                  - language: English
                    proficiency: native or bilingual proficiency
                  - language: Spanish
                    proficiency: professional working proficiency
                  last_updated: 2024-01-17 06:49:05 UTC
                  lead_industry: Technology
                  lead_linkedin_url: https://linkedin.com/in/john-doe-123456789
                  lead_logo_url: https://media.linkedin.com/photo.jpg
                  linkedin_short: john-doe-123456789
                  location: San Francisco Bay Area, California
                  skills:
                  - skill: Machine Learning
                    skill_id: ml-789
                  - skill: Python Programming
                    skill_id: python-101
                  summary: Senior Machine Learning Engineer with 8+ years of experience in AI and data science. Focused on developing scalable ML solutions for enterprise clients.
                  title: Senior Machine Learning Engineer at TechCorp Inc.
                  lead_quality_score: 85
                  seniority: Senior
                  department: Engineering
                  connections_count_bucket: 500+
                  years_of_exp_bucket: 5-10 years
                  current_exp_company_name: TechCorp Inc.
                  geopoint:
                  - -122.4194155
                  - 37.7749295
                  _score: 8.6079
                  _id: '231488528'
                version: 18
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      filterId:
                        type: string
                      in:
                        type: array
                        items:
                          type: string
                      out:
                        type: array
                        items: {}
                page:
                  type: integer
            example:
              filters:
              - filterId: country
                in:
                - France
                out: []
              page: 1
    servers:
    - url: https://api.lemlist.com/api
  /database/companies:
    parameters: []
    post:
      summary: Companies database
      tags:
      - People database
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items: {}
                  total:
                    type: integer
                  took:
                    type: integer
                  page:
                    type: integer
                  size:
                    type: integer
                  search:
                    type: string
                  limitation:
                    type: integer
                  team:
                    type: string
              example:
                results: []
                total: 18540918
                took: 903
                page: 1
                size: 100
                search: lsh_ENeC6oBSdwSArkywL
                limitation: 999
                team: tea_MtScZ2GexXzHXRdTr
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      filterId:
                        type: string
                      in:
                        type: array
                        items:
                          type: string
                      out:
                        type: array
                        items: {}
                page:
                  type: integer
            example:
              filters:
              - filterId: currentCompanyTechnologies
                in:
                - Postman
                out: []
              page: 1
    servers:
    - url: https://api.lemlist.com/api
  /schema/companies:
    parameters: []
    get:
      summary: Companies schema
      tags:
      - People database
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  schema:
                    type: object
                    properties:
                      company_id:
                        type: integer
                      company_website_url:
                        type: string
                        format: uri
                      company_name:
                        type: string
                      company_linkedin_url:
                        type: string
                        format: uri
                      last_updated:
                        type: string
                        format: style
                      company_headquarters_city:
                        type: string
                      company_headquarters_country:
                        type: string
                      company_logo_url:
                        type: string
                        format: uri
                      company_description:
                        type: string
                      company_employee_count:
                        type: integer
                      company_type:
                        type: string
                      company_founded:
                        type: integer
                      company_size:
                        type: string
                      company_followers_count:
                        type: integer
                      employees_count_bucket:
                        type: string
                      revenue_bucket:
                        type: string
                      company_domain:
                        type: string
                      employees_count_growth:
                        type: integer
                      company_is_hiring:
                        type: boolean
                      company_function_array:
                        type: array
                        items:
                          type: string
                      last_funding_round_at:
                        type: string
                        format: date
                      techno_used_array:
                        type: array
                        items:
                          type: string
                      business_business_customer:
                        type: string
                        format: color
                      company_quality_score:
                        type: integer
                      company_industry:
                        type: string
                      company_sub_industry:
                        type: string
                      company_location:
                        type: string
                  version:
                    type: integer
              example:
                schema:
                  company_id: 7842391
                  company_website_url: https://www.innovatetech.io
                  company_name: InnovateTech Solutions
                  company_linkedin_url: https://www.linkedin.com/company/innovatetech-solutions
                  last_updated: 2024-03-15 09:30:22 UTC
                  company_headquarters_city: Austin
                  company_headquarters_country: United States
                  company_logo_url: https://media.linkedin.com/companies/innovatetech/logo_200_200.png
                  company_description: InnovateTech Solutions is a leading provider of AI-powered enterprise software solutions. We specialize in developing cutting-edge machine learning applications that help businesses automate their workflows and make data-driven decisions. Our team of experts combines deep technical knowledge with industry expertise to deliver transformative solutions.
                  company_employee_count: 245
                  company_type: Privately Held
                  company_founded: 2018
                  company_size: 201-500 employees
                  company_followers_count: 15000
                  employees_count_bucket: 201-500
                  revenue_bucket: $50M - $100M
                  company_domain: innovatetech.io
                  employees_count_growth: 35
                  company_is_hiring: true
                  company_function_array:
                  - Software Development
                  - Artificial Intelligence
                  - Enterprise Solutions
                  - Cloud Computing
                  last_funding_round_at: '2023-11-15'
                  techno_used_array:
                  - Python
                  - TensorFlow
                  - AWS
                  - Docker
                  - Kubernetes
                  - React
                  - Node.js
                  - PostgreSQL
                  business_business_customer: B2B
                  company_quality_score: 85
                  company_industry: Information Technology
                  company_sub_industry: Enterprise Software
                  company_location: Austin, Texas, United States
                version: 2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      filterId:
                        type: string
                      in:
                        type: array
                        items:
                          type: string
                      out:
                        type: array
                        items: {}
                page:
                  type: integer
            example:
              filters:
              - filterId: country
                in:
                - France
                out: []
              page: 1
    servers:
    - url: https://api.lemlist.com/api
  /database/personas:
    get:
      summary: List Personas
      description: 'Lists the personas saved by your team. A persona is a named, reusable set of People Database filters; its id can then be referenced elsewhere in the API, for example through the `persona` filter of a Signal Agent.


        Personas are team-shared: every member sees the same list. Results are sorted by creation date, most recent first, and capped at 200. The auto-generated persona lemlist derives from your AI business context is never returned; only the personas your team created are.


        This endpoint is in closed beta and answers `403` unless the beta is enabled for your team.'
      operationId: listPersonas
      tags:
      - People database
      parameters:
      - name: mode
        in: query
        required: false
        description: Restrict the list to personas of one search mode. Omit to return every persona of the team.
        schema:
          type: string
          enum:
          - leads
          - companies
        example: leads
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaListResponse'
              example:
                data:
                - _id: pdp_ExAmPlE1234567890a
                  name: SaaS founders
                  mode: leads
                  filters:
                  - filterId: currentTitle
                    in:
                    - Founder
                    out: []
                  - filterId: country
                    in:
                    - France
                    out: []
                  createdAt: '2026-07-31T09:12:00.000Z'
                  updatedAt: '2026-07-31T09:12:00.000Z'
        '400':
          description: Validation error - invalid query parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Parameter "mode" must be "leads" or "companies"; user personas currently accept "leads" only
                code: PEOPLE_DATABASE_PERSONA_API_INVALID_MODE
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Route unauthorized
                code: ROUTE_UNAUTHORIZED
        '403':
          description: The personas beta is not enabled for your team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Beta is not enabled
                code: BETA_NOT_ENABLED
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Internal error
                code: INTERNAL_ERROR
      security:
      - basicAuth: []
    post:
      summary: Create Persona
      description: 'Creates a persona for your team from a name and a set of People Database filters.


        Use [Get Database Filters](/api-reference/endpoints/people-database/get-database-filters) to discover the valid `filterId` values. Filters carry no `type` property: it is derived from `filterId` server-side. Filters that require a plan your team does not have are dropped silently, so the persona is stored with the subset your plan allows.


        Only the created id is returned. The stored `name` and `filters` are sanitized and plan-gated server-side, so echoing the request payload back would misreport what was persisted; call [List Personas](/api-reference/endpoints/people-database/list-personas) to read the stored persona.


        This endpoint is in closed beta and answers `403` unless the beta is enabled for your team.'
      operationId: createPersona
      tags:
      - People database
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - filters
              - mode
              properties:
                name:
                  type: string
                  minLength: 1
                  description: Display name. Non-empty, and unique within your team.
                  example: SaaS founders
                filters:
                  type: array
                  description: People Database filters defining the persona
                  items:
                    $ref: '#/components/schemas/PersonaFilter'
                mode:
                  type: string
                  description: Search mode the filters target. Only `leads` is accepted today.
                  enum:
                  - leads
                  - companies
                  example: leads
            example:
              name: SaaS founders
              mode: leads
              filters:
              - filterId: currentTitle
                in:
                - Founder
                out: []
              - filterId: country
                in:
                - France
                out: []
      responses:
        '201':
          description: Persona created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaCreateResponse'
              example:
                data:
                  _id: pdp_ExAmPlE1234567890a
        '400':
          description: Validation error - invalid name, mode, or filters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              examples:
                invalidName:
                  value:
                    error: Parameter "name" must be a non-empty string; provide the persona display name
                    code: PEOPLE_DATABASE_PERSONA_API_INVALID_NAME
                invalidFilters:
                  value:
                    error: Parameter "filters" must be an array of { filterId, in?, out?, exactMatch? } objects; call GET /api/database/filters for the valid filter ids
                    code: PEOPLE_DATABASE_PERSONA_API_INVALID_FILTERS
                modeNotSupported:
                  value:
                    error: User personas support only the "leads" mode for now; create or update the persona in leads mode
                    code: PEOPLE_DATABASE_PERSONA_MODE_NOT_SUPPORTED
                unknownFilter:
                  value:
                    error: You have no valid filters with the current search mode
                    code: SEARCH_FILTERS_INVALID
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Route unauthorized
                code: ROUTE_UNAUTHORIZED
        '403':
          description: The personas beta is not enabled for your team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Beta is not enabled
                code: BETA_NOT_ENABLED
        '409':
          description: A persona with this name already exists for your team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: A persona with this name already exists for the team; choose a different name
                code: PEOPLE_DATABASE_PERSONA_NAME_ALREADY_EXISTS
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Internal error
                code: INTERNAL_ERROR
      security:
      - basicAuth: []
    servers:
    - url: https://api.lemlist.com/api
  /database/personas/{personaId}:
    delete:
      summary: Delete Persona
      description: 'Permanently deletes one of your team''s personas. There is no undo.


        An unknown id, a persona belonging to another team, and the persona lemlist auto-generates from your AI business context all answer the same `404`: they are indistinguishable by design.


        This endpoint is in closed beta and answers `403` unless the beta is enabled for your team.'
      operationId: deletePersona
      tags:
      - People database
      parameters:
      - name: personaId
        in: path
        required: true
        description: Id of the persona to delete
        schema:
          type: string
          minLength: 1
        example: pdp_ExAmPlE1234567890a
      responses:
        '200':
          description: Persona deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaDeleteResponse'
              example:
                data:
                  _id: pdp_ExAmPlE1234567890a
                  deleted: true
        '400':
          description: Validation error - malformed personaId
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Wrong param people database persona id
                code: WRONG_PARAM_PEOPLE_DATABASE_PERSONA_ID
        '401':
          description: Unauthorized - invalid or missing API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Route unauthorized
                code: ROUTE_UNAUTHORIZED
        '403':
          description: The personas beta is not enabled for your team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Beta is not enabled
                code: BETA_NOT_ENABLED
        '404':
          description: No such persona for your team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: No editable persona found for this id and team (it may not exist or be the system persona)
                code: PEOPLE_DATABASE_PERSONA_NOT_FOUND
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonaError'
              example:
                error: Internal error
                code: INTERNAL_ERROR
      security:
      - basicAuth: []
    servers:
    - url: https://api.lemlist.com/api
components:
  schemas:
    PersonaError:
      type: object
      description: Error envelope returned by the persona endpoints.
      properties:
        error:
          type: string
          description: Human-readable explanation of the failure
        code:
          type: string
          description: Machine-readable error code, stable across releases
    DatabaseFilter:
      type: object
      description: Saved search criteria for querying the People database.
      properties:
        _id:
          type: string
        name:
          type: string
        criteria:
          type: object
          additionalProperties: true
    Persona:
      type: object
      description: 'A People Database persona: a named, reusable set of People Database filters saved by your team. A persona id can be referenced elsewhere in the API, for example through the `persona` filter of a Signal Agent.'
      properties:
        _id:
          type: string
          description: Unique persona identifier
          example: pdp_ExAmPlE1234567890a
        name:
          type: string
          description: Display name. Unique within your team.
          example: SaaS founders
        mode:
          type: string
          description: Search mode the filters target
          enum:
          - leads
          - companies
          example: leads
        filters:
          type: array
          description: People Database filters defining the persona
          items:
            $ref: '#/components/schemas/PersonaFilter'
        createdAt:
          type: string
          format: date-time
          description: Date the persona was created
          example: '2026-07-31T09:12:00.000Z'
        updatedAt:
          type: string
          format: date-time
          description: Date of the last modification
          example: '2026-07-31T09:12:00.000Z'
    PersonaCreateResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            _id:
              type: string
              description: Id of the created persona
              example: pdp_ExAmPlE1234567890a
    PersonaListResponse:
      type: object
      properties:
        data:
          type: array
          description: The team's personas, most recently created first
          items:
            $ref: '#/components/schemas/Persona'
    PeopleSchema:
      type: object
      description: A person record from lemlist's People database.
      additionalProperties: true
      properties:
        lead_id:
          type: integer
          description: Numeric identifier for the person in the People database
        canonical_shorthand_name:
          type: string
        connections_count:
          type: integer
        country:
          type: string
        full_name:
          type: string
        education:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              activities_and_societies:
                type: string
              created:
                type: string
              date_from:
                type: string
              date_to:
                type: string
              deleted:
                type: string
              description:
                type: string
              id:
                type: string
              last_updated:
                type: string
              member_id:
                type: string
              school_url:
                type: string
                format: uri
              subtitle:
                type: string
              title:
                type: string
        experience_count:
          type: integer
        experiences:
          type: array
          items:
            type: object
            additionalProperties: true
            properties:
              company_id:
                type: integer
              company_description:
                type: string
              company_employee_count:
                type: integer
              company_followers_count:
                type: integer
              company_founded:
                type: integer
              company_headquarters_city:
                type: string
              company_headquarters_country:
                type: string
              company_industry:
                type: string
              company_linkedin_url:
                type: string
                format: uri
              company_logo_url:
                type: string
                format: uri
              company_name:
                type: string
              company_size:
                type: string
              company_type:
                type: string
              company_url:
                type: string
              company_website_url:
                type: string
                format: uri
              revenue_bucket:
                type: string
              company_domain:
                type: string
              employees_count_growth:
                type: integer
              last_funding_round_at:
                type: string
              business_business_customer:
                type: string
              current_exp_bucket:
                type: string
              created:
                type: string
              date_from:
                type: string
              date_to:
                type: string
              description:
                type: string
              duration:
                type: string
              id:
                type: string
              last_updated:
                type: string
              location:
                type: string
              member_id:
                type: string
              order_in_profile:
                type: integer
              title:
                type: string
              title_normalized:
                type: string
              main_in_profile:
                type: boolean
        interests:
          type: array
          items:
            type: object
            properties:
              interest:
                type: string
              interest_id:
                type: string
        languages:
          type: array
          items:
            type: object
            properties:
              language:
                type: string
              proficiency:
                type: string
        last_updated:
          type: string
        lead_industry:
          type: string
        lead_linkedin_url:
          type: string
          format: uri
        lead_logo_url:
          type: string
          format: uri
        linkedin_short:
          type: string
        location:
          type: string
        skills:
          type: array
          items:
            type: object
            properties:
              skill:
                type: string
              skill_id:
                type: string
        summary:
          type: string
        title:
          type: string
        lead_quality_score:
          type: integer
        seniority:
          type: string
        department:
          type: string
        connections_count_bucket:
          type: string
        years_of_exp_bucket:
          type: string
        current_exp_company_name:
          type: string
        geopoint:
          type: array
          items:
            type: number
          minItems: 2
          maxItems: 2
        _score:
          type: number
        _id:
          type: string
    PersonaFilter:
      type: object
      description: 'One People Database filter of a persona. `in` includes matching values, `out` excludes them. There is no `type` property: it is derived from `filterId` server-side.'
      required:
      - filterId
      properties:
        filterId:
          type: string
          description: People Database filter identifier. Use [Get Database Filters](/api-reference/endpoints/people-database/get-database-filters) to discover the valid ids.
          example: currentTitle
        in:
          type: array
          description: Values to include
          items:
            type: string
          example:
          - Founder
        out:
          type: array
          description: Values to exclude
          items:
            type: string
          example: []
        exactMatch:
          type: boolean
          description: Exact-match toggle, for the text filters that support it
    CompaniesSchema:
      type: object
      description: A company record from lemlist's Companies database.
      additionalProperties: true
      properties:
        company_id:
          type: string
          description: Unique company identifier
        company_website_url:
          type: string
          format: uri
          description: Official company website URL
        company_name:
          type: string
          description: Company name
        company_linkedin_url:
          type: string
          format: uri
          description: LinkedIn company profile URL
        last_updated:
          type: string
          description: Last update timestamp (UTC)
        company_headquarters_city:
          type: string
          description: Headquarters city
        company_headquarters_country:
          type: string
          description: Headquarters country
        company_logo_url:
          type: string
          format: uri
          description: Company logo image URL
        company_description:
          type: string
          description: Long company description
        company_employee_count:
          type: string
          description: Employee count as string
        company_type:
          type: string
          description: Company type (e.g., Privately Held, Public Company)
        company_founded:
          type: string
          description: Year founded as string
        company_followers_count:
          type: string
          description: LinkedIn followers count as string
        company_size:
          type: string
          description: Company size bucket
        revenue_bucket:
          type: string
          description: Revenue range bucket
        company_domain:
          type: string
          description: Company web domain
        employees_count_growth:
          type: integer
          description: Employee count growth number
        last_funding_round_at:
          type: string
          description: Date of last funding round
        techno_used_array:
          type: array
          items:
            type: string
          description: Array of technologies used by the company
        business_business_customer:
          type: string
          description: Customer type
          enum:
          - B2B
          - B2C
          - B2B2C
        company_quality_score:
          type: string
          description: Quality score as string
        company_industry:
          type: string
          description: Primary industry
        company_subindustry:
          type: string
          description: Sub-industry
        company_subsubindustry:
          type: string
          description: Sub-sub-industry
        company_location:
          type: string
          description: Full formatted location
        company_location_geopoint_array:
          type: array
          items:
            type: number
          description: Geopoint coordinates [longitude, latitude]
        company_occ_lead:
          type: string
          description: Occupational lead count as string
        _score:
          type: number
          description: Search relevance score
        _id:
          type: string
          description: Internal document ID
    PersonaDeleteResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            _id:
              type: string
              description: Id of the deleted persona
              example: pdp_ExAmPlE1234567890a
            deleted:
              type: boolean
              description: Always `true` when the persona was removed
              example: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- lemlist-openapi-v1-legacy.json
- lemlist-openapi-v2.json
- lemlist-openapi.yml
