openapi: 3.1.0
info:
  title: lemlist API
  version: "2.0"
  description: |
    REST API for lemlist's cold email outreach and sales engagement
    platform. All routes live at https://api.lemlist.com/api/. The full
    URL pattern is https://api.lemlist.com/api/{endpoint}.

    Authentication uses HTTP Basic with an empty username and the API
    key as the password (`:YOUR_API_KEY` base64-encoded into the
    Authorization header).

    Source: https://developer.lemlist.com and the published
    OpenAPI v2 spec at
    https://developer.lemlist.com/api-reference/openapi/v2.json
servers:
  - url: https://api.lemlist.com/api
    description: lemlist production API
security:
  - BasicAuth: []
paths:
  /team:
    get:
      operationId: getTeam
      summary: Get team information
      tags:
        - Team
      responses:
        '200':
          description: Team object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /team/senders:
    get:
      operationId: listTeamSenders
      summary: List team senders across campaigns
      tags:
        - Team
      responses:
        '200':
          description: Array of sender objects
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /team/credits:
    get:
      operationId: getTeamCredits
      summary: Get team credit balance
      tags:
        - Team
      responses:
        '200':
          description: Credit balance object
          content:
            application/json:
              schema:
                type: object
  /campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      tags:
        - Campaigns
      parameters:
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Paginated list of campaigns
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Campaign'
    post:
      operationId: createCampaign
      summary: Create a campaign
      tags:
        - Campaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        '200':
          description: Created campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
  /campaigns/{campaignId}:
    get:
      operationId: getCampaign
      summary: Get a campaign by ID
      tags:
        - Campaigns
      parameters:
        - name: campaignId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Campaign object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
  /users/{userId}:
    get:
      operationId: getUser
      summary: Get user details
      tags:
        - Users
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User object
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: |
        HTTP Basic Authentication. The login is always empty and the
        password is your lemlist API key. Send the header as
        `Authorization: Basic ` followed by the base64 encoding of
        `:YOUR_API_KEY`.
  schemas:
    Team:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
    Campaign:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        status:
          type: string
tags:
  - name: Team
    description: Team-level endpoints (info, senders, credits)
  - name: Campaigns
    description: Campaign CRUD and lifecycle
  - name: Users
    description: User endpoints
