openapi: 3.2.0
info:
  title: Lemlist Leads API
  version: 1.0.0
  description: 'Operations tagged Leads across 3 of this provider''s published API definitions: lemlist-openapi-v1-legacy.json, lemlist-openapi-v2.json, lemlist-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemlist.com/api
tags:
- name: Leads
paths:
  /leads/start/{leadId}:
    parameters:
    - name: leadId
      in: path
      required: true
      example: '{{leadId}}'
      schema:
        type: string
    post:
      summary: Resume a paused Lead
      tags:
      - Leads
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success all campaign
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    firstName:
                      type: string
                    lastName:
                      type: string
                    picture:
                      type: string
                      format: uri
                    phone:
                      type: string
                      format: phone
                    linkedinUrl:
                      type: string
                      format: uri
                    companyName:
                      type: string
                    companyDomain:
                      type: string
                    icebreaker:
                      type: string
                    jobTitle:
                      type: string
                    _id:
                      type: string
                    isPaused:
                      type: boolean
                    campaignId:
                      type: string
              example:
              - email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
              - firstname: John
                lastname: Doe
                companyName: lempire
                email: john.doe@domain.com
                _id: lea_3pRTJnkxwwF6vh1m
                isPaused: false
                campaignId: cam_K9L8M7N6O5P4Q3R2S1
    servers:
    - url: https://api.lemlist.com/api
  /leads/pause/{leadId}:
    parameters:
    - name: leadId
      in: path
      required: true
      example: '{{leadId}}'
      schema:
        type: string
    post:
      summary: Pause a Lead
      tags:
      - Leads
      parameters:
      - name: campaignId
        in: query
        required: false
        description: (Optional) id of the campaign
        example: '{{campaignId}}'
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success all campaign
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    firstName:
                      type: string
                    lastName:
                      type: string
                    picture:
                      type: string
                      format: uri
                    phone:
                      type: string
                      format: phone
                    linkedinUrl:
                      type: string
                      format: uri
                    companyName:
                      type: string
                    companyDomain:
                      type: string
                    icebreaker:
                      type: string
                    jobTitle:
                      type: string
                    _id:
                      type: string
                    isPaused:
                      type: boolean
                    campaignId:
                      type: string
              example:
              - email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: true
                campaignId: cam_A1B2C3D4E5F6G7H8I9
              - firstname: John
                lastname: Doe
                companyName: lempire
                email: john.doe@domain.com
                _id: lea_3pRTJnkxwwF6vh1m
                isPaused: true
                campaignId: cam_K9L8M7N6O5P4Q3R2S1
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success specific campaign
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    firstName:
                      type: string
                    lastName:
                      type: string
                    picture:
                      type: string
                      format: uri
                    phone:
                      type: string
                      format: phone
                    linkedinUrl:
                      type: string
                      format: uri
                    companyName:
                      type: string
                    companyDomain:
                      type: string
                    icebreaker:
                      type: string
                    jobTitle:
                      type: string
                    _id:
                      type: string
                    isPaused:
                      type: boolean
                    campaignId:
                      type: string
              example:
              - email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: true
                campaignId: cam_A1B2C3D4E5F6G7H8I9
    servers:
    - url: https://api.lemlist.com/api
  /leads/interested/{leadIdOrEmail}:
    parameters:
    - name: leadIdOrEmail
      in: path
      required: true
      example: '{{leadIdOrEmail}}'
      schema:
        type: string
    post:
      summary: Mark a Lead as interested
      tags:
      - Leads
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    firstName:
                      type: string
                    lastName:
                      type: string
                    picture:
                      type: string
                      format: uri
                    phone:
                      type: string
                      format: phone
                    linkedinUrl:
                      type: string
                      format: uri
                    companyName:
                      type: string
                    companyDomain:
                      type: string
                    icebreaker:
                      type: string
                    jobTitle:
                      type: string
                    _id:
                      type: string
                    isPaused:
                      type: boolean
                    campaignId:
                      type: string
              example:
              - email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
              - firstname: John
                lastname: Doe
                companyName: lempire
                email: john.doe@domain.com
                _id: lea_3pRTJnkxwwF6vh1m
                isPaused: true
                campaignId: cam_K9L8M7N6O5P4Q3R2S1
    servers:
    - url: https://api.lemlist.com/api
  /leads/notinterested/{leadIdOrEmail}:
    parameters:
    - name: leadIdOrEmail
      in: path
      required: true
      example: '{{leadIdOrEmail}}'
      schema:
        type: string
    post:
      summary: Mark a Lead as not interested
      tags:
      - Leads
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    firstName:
                      type: string
                    lastName:
                      type: string
                    picture:
                      type: string
                      format: uri
                    phone:
                      type: string
                      format: phone
                    linkedinUrl:
                      type: string
                      format: uri
                    companyName:
                      type: string
                    companyDomain:
                      type: string
                    icebreaker:
                      type: string
                    jobTitle:
                      type: string
                    _id:
                      type: string
                    isPaused:
                      type: boolean
                    campaignId:
                      type: string
              example:
              - email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
              - firstname: John
                lastname: Doe
                companyName: lempire
                email: john.doe@domain.com
                _id: lea_3pRTJnkxwwF6vh1m
                isPaused: true
                campaignId: cam_K9L8M7N6O5P4Q3R2S1
    servers:
    - url: https://api.lemlist.com/api
  /campaigns/{campaignId}/leads/{leadIdOrEmail}/interested:
    parameters:
    - name: campaignId
      in: path
      required: true
      example: '{{campaignId}}'
      schema:
        type: string
    - name: leadIdOrEmail
      in: path
      required: true
      example: '{{leadIdOrEmail}}'
      schema:
        type: string
    post:
      summary: Mark a Lead as interested in one campaign
      tags:
      - Leads
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  picture:
                    type: string
                    format: uri
                  phone:
                    type: string
                    format: phone
                  linkedinUrl:
                    type: string
                    format: uri
                  companyName:
                    type: string
                  companyDomain:
                    type: string
                  icebreaker:
                    type: string
                  jobTitle:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  campaignId:
                    type: string
              example:
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
    servers:
    - url: https://api.lemlist.com/api
  /campaigns/{campaignId}/leads/{leadIdOrEmail}/notinterested:
    parameters:
    - name: campaignId
      in: path
      required: true
      example: '{{campaignId}}'
      schema:
        type: string
    - name: leadIdOrEmail
      in: path
      required: true
      example: '{{leadIdOrEmail}}'
      schema:
        type: string
    post:
      summary: Mark a Lead as not interested in one campaign
      tags:
      - Leads
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  picture:
                    type: string
                    format: uri
                  phone:
                    type: string
                    format: phone
                  linkedinUrl:
                    type: string
                    format: uri
                  companyName:
                    type: string
                  companyDomain:
                    type: string
                  icebreaker:
                    type: string
                  jobTitle:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  campaignId:
                    type: string
              example:
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
    servers:
    - url: https://api.lemlist.com/api
  /leads/{email}:
    parameters:
    - name: email
      in: path
      required: true
      example: '{{email}}'
      schema:
        type: string
    get:
      summary: Retrieve Lead with email
      tags:
      - Leads
      parameters:
      - name: version
        in: query
        required: false
        description: '(Optional) API version|default: v1'
        example: v2
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Retrieve Lead with email (V1)
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  picture:
                    type: string
                    format: uri
                  phone:
                    type: string
                    format: phone
                  linkedinUrl:
                    type: string
                    format: uri
                  companyName:
                    type: string
                  companyDomain:
                    type: string
                  icebreaker:
                    type: string
                  jobTitle:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  campaignId:
                    type: string
                  emailStatus:
                    type: string
              example:
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
                emailStatus: deliverable
        default:
          headers: {}
          description: Lead not found
    servers:
    - url: https://api.lemlist.com/api
  /leads:
    parameters: []
    get:
      summary: Retrieve Lead with email or id
      tags:
      - Leads
      parameters:
      - name: id
        in: query
        required: false
        description: (Optionnal) The lead Id - ⚠️ You should use at least one of query param email or id
        example: '{{leadId}}'
        schema:
          type: string
      - name: email
        in: query
        required: false
        description: (Optionnal) The lead email - ⚠️ You should use at least one of query param email or id
        example: '{{email}}'
        schema:
          type: string
      - name: version
        in: query
        required: false
        description: '(Optional) API version|default: v1'
        example: v2
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Retrieve Lead with email (V1)
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  picture:
                    type: string
                    format: uri
                  phone:
                    type: string
                    format: phone
                  linkedinUrl:
                    type: string
                    format: uri
                  companyName:
                    type: string
                  companyDomain:
                    type: string
                  icebreaker:
                    type: string
                  jobTitle:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  campaignId:
                    type: string
                  emailStatus:
                    type: string
              example:
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
                emailStatus: deliverable
        default:
          headers: {}
          description: Lead not found
    servers:
    - url: https://api.lemlist.com/api
  /campaigns/{campaignId}/leads/{email}:
    parameters:
    - name: campaignId
      in: path
      required: true
      example: '{{campaignId}}'
      schema:
        type: string
    - name: email
      in: path
      required: true
      example: '{{email}}'
      schema:
        type: string
    post:
      summary: Create Lead in a Campaign
      tags:
      - Leads
      parameters:
      - name: deduplicate
        in: query
        required: false
        description: "Boolean | Search email address in another campaign, will not insert the lead if email address already inserted\n | Default: false"
        example: 'true'
        schema:
          type: boolean
      - name: linkedinEnrichment
        in: query
        required: false
        description: 'Boolean | Find verified email | Default: false'
        example: 'true'
        schema:
          type: boolean
      - name: findEmail
        in: query
        required: false
        description: 'Boolean | Run the LinkedIn enrichment | Default: false'
        example: 'true'
        schema:
          type: boolean
      - name: verifyEmail
        in: query
        required: false
        description: 'Boolean | Verify existing email (debounce) | Default: false'
        example: 'true'
        schema:
          type: boolean
      - name: findPhone
        in: query
        required: false
        description: 'Boolean | Find phone number | Default: false'
        example: 'true'
        schema:
          type: boolean
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaignId:
                    type: string
                  campaignName:
                    type: string
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  picture:
                    type: string
                    format: uri
                  phone:
                    type: string
                    format: phone
                  linkedinUrl:
                    type: string
                    format: uri
                  companyName:
                    type: string
                  companyDomain:
                    type: string
                  icebreaker:
                    type: string
                  jobTitle:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  leadUrl:
                    type: string
                    format: uri
              example:
                campaignId: cam_A1B2C3D4E5F6G7H8I9
                campaignName: Insights Outreach 2024
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                leadUrl: https://api.lemlist.com/api/leads/john.doe%40domain.com
        '400':
          headers: {}
          description: Already in the campaign
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                companyName:
                  type: string
                jobTitle:
                  type: string
                linkedinUrl:
                  type: string
                picture:
                  type: string
                phone:
                  type: string
                companyDomain:
                  type: string
                icebreaker:
                  type: string
                contactOwner:
                  type: string
            example:
              firstName: '{{lead-firstName}}'
              lastName: '{{lead-lastName}}'
              companyName: '{{lead-companyName}}'
              jobTitle: '{{lead-jobTitle}}'
              linkedinUrl: '{{lead-linkedinUrl}}'
              picture: '{{lead-picture}}'
              phone: '{{lead-phone}}'
              companyDomain: '{{lead-companyDomain}}'
              icebreaker: '{{lead-icebreacker}}'
              contactOwner: '{{lead-contactOwner}}'
    delete:
      summary: Unsubscribe Lead from Campaign
      tags:
      - Leads
      parameters: []
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  picture:
                    type: string
                    format: uri
                  phone:
                    type: string
                    format: phone
                  linkedinUrl:
                    type: string
                    format: uri
                  companyName:
                    type: string
                  companyDomain:
                    type: string
                  icebreaker:
                    type: string
                  jobTitle:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  campaignId:
                    type: string
              example:
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
        '404':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Already unsubscribe / invalide email
    servers:
    - url: https://api.lemlist.com/api
  /campaigns/{campaignId}/leads/{leadId}:
    parameters:
    - name: campaignId
      in: path
      required: true
      example: '{{campaignId}}'
      schema:
        type: string
    - name: leadId
      in: path
      required: true
      example: '{{leadId}}'
      schema:
        type: string
    patch:
      summary: Update Lead
      tags:
      - Leads
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaignId:
                    type: string
                  campaignName:
                    type: string
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  picture:
                    type: string
                    format: uri
                  phone:
                    type: string
                    format: utc-millisec
                  linkedinUrl:
                    type: string
                    format: uri
                  companyName:
                    type: string
                  companyDomain:
                    type: string
                  icebreaker:
                    type: string
                  jobTitle:
                    type: string
                  preferredContactMethod:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  leadUrl:
                    type: string
                    format: uri
              example:
                campaignId: cam_A1B2C3D4E5F6G7H8I9
                campaignName: Insights Outreach 2024
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: '+33123456789'
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                preferredContactMethod: linkedIn
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                leadUrl: https://api.lemlist.com/api/leads/john.doe%40domain.com
        '404':
          headers: {}
          description: Lead not found
        '500':
          headers: {}
          description: Lead in graveyard
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preferredContactMethod:
                  type: string
            example:
              preferredContactMethod: email
    delete:
      summary: Delete Lead
      tags:
      - Leads
      parameters:
      - name: action
        in: query
        required: false
        description: Force the deletion of the lead
        example: remove
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  picture:
                    type: string
                    format: uri
                  phone:
                    type: string
                    format: phone
                  linkedinUrl:
                    type: string
                    format: uri
                  companyName:
                    type: string
                  companyDomain:
                    type: string
                  icebreaker:
                    type: string
                  jobTitle:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  campaignId:
                    type: string
              example:
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                picture: https://c.pxhere.com/images/55/a2/fc589d408bc4c00cf38f1aeaf3e3-1449557.jpg!d
                phone: +33 123456789
                linkedinUrl: https://www.linkedin.com/in/johndoe,
                companyName: lempire
                companyDomain: lempire.co
                icebreaker: Hello John, I came across your profile and your expertise in software development is remarkable!
                jobTitle: Developer
                _id: lea_7kMNQwplxvvD2hf5z
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
        '404':
          headers: {}
          description: Lead not found
    servers:
    - url: https://api.lemlist.com/api
  /leads/{leadId}/variables:
    parameters:
    - name: leadId
      in: path
      required: true
      example: '{{leadId}}'
      schema:
        type: string
    post:
      summary: Add variables
      tags:
      - Leads
      parameters:
      - name: company
        in: query
        required: false
        example: Lemlist
        schema:
          type: string
      - name: preferredContactMethod
        in: query
        required: false
        example: linkedIn
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
        '400':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Already exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: string
              example:
                ok: false
                status: Variables house already exist
    patch:
      summary: Update variables
      tags:
      - Leads
      parameters:
      - name: favoriteColor
        in: query
        required: false
        example: yellow
        schema:
          type: string
      - name: company
        in: query
        required: false
        example: LemlistleadId
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
        '400':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Variables not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: string
              example:
                ok: false
                status: Variables color not found
    delete:
      summary: Delete variables
      tags:
      - Leads
      parameters:
      - name: company
        in: query
        required: false
        example: Lemlist
        schema:
          type: string
      - name: favoriteColor
        in: query
        required: false
        example: yellow
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '400':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Variables not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: string
              example:
                ok: false
                status: Variables color not found
    servers:
    - url: https://api.lemlist.com/api
  /leads/audio:
    parameters: []
    post:
      summary: Upload an audio file to a voice message step
      tags:
      - Leads
      parameters:
      - name: leadId
        in: query
        required: false
        example: lea_7kMNQwplxvvD2hf5z
        schema:
          type: string
      - name: stepId
        in: query
        required: false
        description: stepId of th
        example: stp_ZrcCuR6cwi5qFnQQQ
        schema:
          type: string
      responses:
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
            Content-Length:
              schema:
                type: integer
              example: '308'
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  status:
                    type: object
                    properties:
                      url:
                        type: string
                        format: uri
                      teamId:
                        type: string
                      campaignId:
                        type: string
                      leadId:
                        type: string
                      sequenceId:
                        type: string
                      emailTemplateId:
                        type: string
                      fileName:
                        type: string
              example:
                ok: true
                status:
                  url: https://lemlist-dev.s3.eu-west-1.amazonaws.com/fil_bECTszeFQMneA43D2.m4a
                  teamId: tea_KWvTf2CypcBqG4QG2
                  campaignId: cam_B3MJETF3YxvGaR4dC
                  leadId: lea_CgfmTDCPC43gwPgYk
                  sequenceId: seq_ZYdm8Bh5eJzu2ExmN
                  emailTemplateId: etp_DrycDKL7WBM7TcWnm
                  fileName: file2
    servers:
    - url: https://api.lemlist.com/api
  /crm/filters:
    parameters: []
    get:
      summary: Get CRM filters
      tags:
      - Leads
      parameters:
      - name: crm
        in: query
        required: false
        description: CRM name
        example: hubspot
        schema:
          type: string
      - name: userId
        in: query
        required: false
        description: Connected user ID
        example: userId
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: Filter type for SalesForce, can be lead, contact, or report.
        example: lead
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
              example:
              - id: 16
                name: Filter 1
              - id: 17
                name: Filter 2
              - id: 18
                name: Filter 3
        '401':
          headers: {}
          description: Unauthorized
    servers:
    - url: https://api.lemlist.com/api
  /campaigns/{campaignId}/leads/import:
    parameters:
    - name: campaignId
      in: path
      required: true
      example: '{{campaignId}}'
      schema:
        type: string
    post:
      summary: Import leads from CRM
      tags:
      - Leads
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
        '401':
          headers: {}
          description: Unauthorized
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                crm:
                  type: string
                userId:
                  type: string
                filterId:
                  type: string
                filterType:
                  type: string
                deduplicate:
                  type: string
            example:
              crm: '{{crmName}}'
              userId: '{{userId}}'
              filterId: '{{filterId}}'
              filterType: '{{filterType}}'
              deduplicate: '{{deduplicate}}'
    servers:
    - url: https://api.lemlist.com/api
  /campaigns/{campaignId}/leads/:
    parameters:
    - name: campaignId
      in: path
      required: true
      description: The unique identifier of the campaign
      example: cam_A1B2C3D4E5F6G7H8I9
      schema:
        type: string
    get:
      summary: Get Campaign Leads
      tags:
      - Leads
      parameters:
      - name: state
        in: query
        required: false
        description: Filter leads by state (e.g., scanned, contacted, interested, notInterested, etc.)
        example: scanned
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: 'Maximum number of leads to return. Default: 100, Max: 500'
        example: 100
        schema:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
      responses:
        '200':
          description: List of leads in the campaign
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    _id:
                      type: string
                      description: Unique lead identifier
                    contactId:
                      type: string
                      description: Associated contact identifier
                    state:
                      type: string
                      description: Current lead state
              example:
              - _id: lea_A1B2C3D4E5F6G7H8I9
                contactId: con_Z9Y8X7W6V5U4T3S2R1
                state: scanned
      security:
      - basicAuth: []
    post:
      summary: Create Lead in Campaign
      tags:
      - Leads
      parameters:
      - name: deduplicate
        in: query
        required: false
        description: 'Search email address in other campaigns. Will not insert the lead if email address already exists. Default: false'
        example: 'true'
        schema:
          type: boolean
      - name: linkedinEnrichment
        in: query
        required: false
        description: 'Run the LinkedIn enrichment. Default: false'
        example: 'true'
        schema:
          type: boolean
      - name: findEmail
        in: query
        required: false
        description: 'Find verified email. Default: false'
        example: 'true'
        schema:
          type: boolean
      - name: verifyEmail
        in: query
        required: false
        description: 'Verify existing email (debounce). Default: false'
        example: 'true'
        schema:
          type: boolean
      - name: findPhone
        in: query
        required: false
        description: 'Find phone number. Default: false'
        example: 'true'
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: Email of the lead
                firstName:
                  type: string
                  description: First name of the lead
                lastName:
                  type: string
                  description: Last name of the lead
                companyName:
                  type: string
                  description: Company name
                jobTitle:
                  type: string
                  description: Job title
                linkedinUrl:
                  type: string
                  description: LinkedIn profile URL
                picture:
                  type: string
                  description: Profile picture URL
                phone:
                  type: string
                  description: Phone number
                companyDomain:
                  type: string
                  description: Company domain
                icebreaker:
                  type: string
                  description: Personalized icebreaker message
                timezone:
                  type: string
                  description: Lead's timezone in IANA format (e.g., Europe/Paris, America/New_York)
                contactOwner:
                  type: string
                  description: Contact owner (user ID or user login email)
              additionalProperties:
                type: string
            example:
              email: support@lemlist.com
              firstName: John
              lastName: Doe
              companyName: lemlist
              jobTitle: Developer
              linkedinUrl: https://www.linkedin.com/in/johndoe
              phone: +33 123456789
              timezone: Europe/Paris
              contactOwner: login_email@lemlist.com
              companySize: 50-100
              customVariable1: any value you want
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaignId:
                    type: string
                  campaignName:
                    type: string
                  email:
                    type: string
                    format: email
                  firstName:
                    type: string
                  lastName:
                    type: string
                  companyName:
                    type: string
                  jobTitle:
                    type: string
                  companyDomain:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                    description: Whether the lead is paused in the campaign
                  contactId:
                    type: string
                    description: Associated contact ID
              example:
                campaignId: cam_bSn8EORHQxbWPjHvu
                campaignName: NEW TO DELETE
                firstName: John
                lastName: Doe
                companyName: lemlist
                jobTitle: GTM Engineer
                companyDomain: example.com
                email: support@lemlist.com
                _id: lea_fiDpiGV585wy3Oii2
                isPaused: false
                contactId: ctc_xW8Ou6C03Csv8vatp
        '400':
          description: 'Possible errors: No API key provided / Bad team'
          content:
            text/plain:
              example: No API key provided
        '401':
          description: The authentication you supplied is incorrect
          content:
            text/plain:
              example: The authentication you supplied is incorrect
        '403':
          description: User linked to this API key is blocked
          content:
            text/plain:
              example: User linked to this API key is blocked
        '404':
          description: 'Possible errors: No user found for this API key / Campaign not found'
          content:
            text/plain:
              example: No user found for this API key
      security:
      - basicAuth: []
    delete:
      summary: Unsubscribe Lead from Campaign
      tags:
      - Leads
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                  firstName:
                    type: string
                  lastName:
                    type: string
                  _id:
                    type: string
                  isPaused:
                    type: boolean
                  campaignId:
                    type: string
              example:
                email: john.doe@domain.com
                firstName: John
                lastName: Doe
                _id: lea_8xJSc7sV7ggpiVnXe
                isPaused: false
                campaignId: cam_A1B2C3D4E5F6G7H8I9
        '400':
          description: Bad team
          content:
            text/plain:
              example: Bad team
        '401':
          description: Unauthorized
        '404':
          description: Lead not found
          content:
            text/plain:
              example: Lead not found
      parameters: []
      security:
      - basicAuth: []
    servers:
    - url: https://api.lemlist.com/api
  /leads/review/{leadId}:
    parameters:
    - name: leadId
      in: path
      required: true
      description: The unique identifier of the lead to launch
      example: lea_8xJSc7sV7ggpiVnXe
      schema:
        type: string
    post:
      summary: Launch Lead
      description: 'Use this endpoint to launch a lead that is waiting for review, without having to enable campaign-wide auto-review.


        You''re auto launching this specific lead, while still enforcing every other launch guard: the campaign must have no step errors, any AI variables required by the campaign must be valid for the lead, and a sender must be available.


        No need to enable autolaunch in the campaign.


        This endpoint requires an `emailPro` plan or higher.'
      tags:
      - Leads
      responses:
        '200':
          description: Lead launched successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
        '400':
          description: 'The lead cannot be launched. Possible `error` codes: `CAMPAIGN_LEAD_REVIEW_LEAD_PAUSED` (lead is paused), `CAMPAIGN_LEAD_REVIEW_LEAD_ALREADY_LAUNCHED` (lead is already launched), `CAMPAIGN_LEAD_REVIEW_LEAD_AI_VARIABLE_INVALID` (missing or invalid AI variables required by the campaign), `CAMPAIGN_LEAD_REVIEW_LEAD_NO_SENDER_AVAILABLE` (no sender available), `CAMPAIGN_LEAD_REVIEW_CAMPAIGN_STEP_ERRORS` (campaign has step errors).'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: CAMPAIGN_LEAD_REVIEW_LEAD_ALREADY_LAUNCHED
                message: Lead is already launched
        '401':
          description: Unauthorized
        '404':
          description: 'Lead or campaign not found. Possible `error` codes: `CAMPAIGN_LEAD_REVIEW_LEAD_NOT_FOUND`, `CAMPAIGN_LEAD_REVIEW_CAMPAIGN_NOT_FOUND`.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  message:
                    type: string
              example:
                error: CAMPAIGN_LEAD_REVIEW_LEAD_NOT_FOUND
                message: Lead not found
        '405':
          description: Method not allowed
      security:
      - basicAuth: []
    servers:
    - url: https://api.lemlist.com/api
components:
  schemas:
    CrmFilter:
      type: object
      description: A filter used in the CRM to segment leads or companies.
      properties:
        _id:
          type: string
        name:
          type: string
        type:
          type: string
        criteria:
          type: object
          additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- lemlist-openapi-v1-legacy.json
- lemlist-openapi-v2.json
- lemlist-openapi.yml
