openapi: 3.2.0
info:
  title: Lemlist Lemwarm API
  version: 1.0.0
  description: 'Operations tagged lemwarm across 3 of this provider''s published API definitions: lemlist-openapi-v1-legacy.json, lemlist-openapi-v2.json, lemlist-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemlist.com/api
tags:
- name: lemwarm
paths:
  /lemwarm/{userMailboxId}/start:
    parameters:
    - name: userMailboxId
      in: path
      required: true
      example: '{{userMailboxId}}'
      schema:
        type: string
    post:
      summary: Start
      tags:
      - lemwarm
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: {}
    servers:
    - url: https://api.lemlist.com/api
  /lemwarm/{userMailboxId}/pause:
    parameters:
    - name: userMailboxId
      in: path
      required: true
      example: '{{userMailboxId}}'
      schema:
        type: string
    post:
      summary: Pause
      tags:
      - lemwarm
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: {}
    servers:
    - url: https://api.lemlist.com/api
  /lemwarm/{userMailboxId}/settings:
    parameters:
    - name: userMailboxId
      in: path
      required: true
      example: '{{userMailboxId}}'
      schema:
        type: string
    get:
      summary: Get settings
      tags:
      - lemwarm
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  warmEmailRampup:
                    type: integer
                  warmEmailMax:
                    type: integer
                  activeAt:
                    type: string
                    format: date-time
                  warmNextEmailAt:
                    type: string
                    format: date-time
                  lastWarmAt:
                    type: string
                    format: date-time
                  deliverability:
                    type: object
                    properties:
                      details:
                        type: array
                        items:
                          type: object
                          properties:
                            mx:
                              type: object
                              properties:
                                ok:
                                  type: boolean
                                message:
                                  type: object
                                  properties:
                                    mx:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          exchange:
                                            type: string
                                          priority:
                                            type: integer
                            spf:
                              type: object
                              properties:
                                ok:
                                  type: boolean
                                message:
                                  type: string
                                  format: style
                            dmarc:
                              type: object
                              properties:
                                ok:
                                  type: boolean
                                message:
                                  type: string
                                warning:
                                  type: string
                            ctd:
                              type: object
                              properties:
                                ok:
                                  type: boolean
                                userConfigured:
                                  type: boolean
                                userMailboxConfigured:
                                  type: boolean
                                isEmpty:
                                  type: boolean
                                message:
                                  type: string
                            dnsScore:
                              type: integer
                      lastAt:
                        type: string
                        format: date-time
                      score:
                        type: integer
                      tips:
                        type: array
                        items:
                          type: string
              example:
                warmEmailRampup: 5
                warmEmailMax: 5
                activeAt: '2025-04-10T07:38:31.530Z'
                warmNextEmailAt: '2025-04-10T07:38:31.530Z'
                lastWarmAt: '2025-04-09T13:53:03.229Z'
                deliverability:
                  details:
                  - mx:
                      ok: true
                      message:
                        mx:
                        - exchange: ASPMX.L.GOOGLE.com
                          priority: 1
                        - exchange: ALT1.ASPMX.L.GOOGLE.com
                          priority: 5
                        - exchange: ALT2.ASPMX.L.GOOGLE.com
                          priority: 5
                        - exchange: ALT4.ASPMX.L.GOOGLE.com
                          priority: 10
                        - exchange: ALT3.ASPMX.L.GOOGLE.com
                          priority: 10
                    spf:
                      ok: true
                      message: v=spf1 include:_spf.google.com ~all<br>
                    dmarc:
                      ok: true
                      message: v=DMARC1; p=quarantine; rua=mailto:dmarc@lemlist.com
                      warning: ''
                    ctd:
                      ok: false
                      userConfigured: false
                      userMailboxConfigured: false
                      isEmpty: true
                      message: custom tracking domain is not configured
                    dnsScore: 100
                  - statCount: 0
                    total: 0
                  - mailboxAge: 30
                  - dnsNormal: 40
                    inboxStatsNormal: 0
                    totalEmailSentNormal: 0
                    ageNormal: 10
                    totalEmailSent: 0
                    blacklistsInfo:
                      score: 100
                  lastAt: '2025-04-09T13:34:43.998Z'
                  score: 70
                  tips:
                  - If you send cold emails, make sure to set up your Custom Tracking Domain. This allows you to track open and click rates in your emails safely.
                  - You just started lemwarm. Let's wait a bit before we can trust this score.
                  - null
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example: {}
    patch:
      summary: Update settings
      tags:
      - lemwarm
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              example:
                ok: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                warmEmailMax:
                  type: string
                warmEmailRampup:
                  type: string
            example:
              warmEmailMax: '{{warmEmailMax}}'
              warmEmailRampup: '{{warmEmailRampup}}'
    servers:
    - url: https://api.lemlist.com/api
components:
  schemas:
    LemwarmSettings:
      type: object
      description: Lemwarm configuration for a mailbox.
      properties:
        active:
          type: boolean
        dailyLimit:
          type: integer
        warmupTemplate:
          type: string
        warmDailyVarianceEnabled:
          type: boolean
          description: Whether a random daily variance is applied to the warmup email target
        deliverability:
          type: object
          properties:
            score:
              type: integer
            lastAt:
              type: string
              format: date-time
              description: Timestamp of last deliverability check
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- lemlist-openapi-v1-legacy.json
- lemlist-openapi-v2.json
- lemlist-openapi.yml
