openapi: 3.2.0
info:
  title: Lemlist Tasks API
  version: 1.0.0
  description: 'Operations tagged Tasks across 3 of this provider''s published API definitions: lemlist-openapi-v1-legacy.json, lemlist-openapi-v2.json, lemlist-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemlist.com/api
tags:
- name: Tasks
paths:
  /tasks:
    parameters: []
    get:
      summary: Tasks
      tags:
      - Tasks
      parameters: []
      responses:
        default:
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        type:
                          type: string
                        leadId:
                          type: string
                        campaignId:
                          type: string
                        contactId:
                          type: string
                        dueDate:
                          type: string
                          format: date-time
                        userId:
                          type: string
                  page:
                    type: integer
              example:
                results:
                - _id: opp_vDuwoqRopZ4ygeApq
                  type: phone
                  leadId: lea_4ZnGoytR5uoZs7Bod
                  campaignId: cam_fX7SwMGyooxFLeeiM
                  contactId: ctc_iSW6pi7AFnufvhgeS
                  dueDate: '2025-02-13T10:02:35.209Z'
                  userId: usr_6Y58qbtsYv2rCHQiJ
                - _id: opp_22vSBY7pNKskQ9XDX
                  type: phone
                  leadId: lea_4QqkLsi3gDawLsRLP
                  campaignId: cam_fX7SwMGyooxFLeeiM
                  contactId: ctc_Ak6dK4XGT73kgYoHe
                  dueDate: '2025-02-13T10:02:35.208Z'
                  userId: usr_6Y58qbtsYv2rCHQiJ
                - _id: opp_wa9CizcCzWMyWQMab
                  type: phone
                  leadId: lea_T478Y3PBtunxLA3uD
                  campaignId: cam_ZoNvbA4nnE9T3T3Xp
                  contactId: ctc_Bpy8KPvJuCkGGbYJ2
                  dueDate: '2025-02-13T09:08:53.061Z'
                  userId: usr_6Y58qbtsYv2rCHQiJ
                - _id: opp_qJFeKB4pdofKAiTpS
                  type: phone
                  leadId: lea_fZKPKs29MwsZwruj8
                  campaignId: cam_ZoNvbA4nnE9T3T3Xp
                  contactId: ctc_8dKYwwv2pGmupjamP
                  dueDate: '2025-02-13T09:08:53.061Z'
                  userId: usr_6Y58qbtsYv2rCHQiJ
                page: 0
    post:
      summary: Tasks
      tags:
      - Tasks
      parameters: []
      responses:
        default:
          headers: {}
          description: Tasks
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                leadId:
                  type: string
            example:
              leadId: lea_sMsXBnXd7mG2XdxFR
    patch:
      summary: Tasks
      tags:
      - Tasks
      parameters: []
      responses:
        default:
          headers: {}
          description: Opportunities
    servers:
    - url: https://api.lemlist.com/api
  /tasks/ignore:
    parameters: []
    post:
      summary: Ignore tasks
      tags:
      - Tasks
      parameters: []
      responses:
        default:
          headers: {}
          description: Ignore tasks
    servers:
    - url: https://api.lemlist.com/api
components:
  schemas:
    Task:
      type: object
      description: A manual action assigned to a user to complete.
      properties:
        _id:
          type: string
          description: Unique task identifier
        type:
          type: string
          description: Task type
        leadId:
          type: string
          description: Associated lead ID
        campaignId:
          type: string
          description: Campaign ID
        userId:
          type: string
          description: Assigned user ID
        status:
          type: string
          description: Task status
          enum:
          - pending
          - completed
          - ignored
        dueDate:
          type: string
          format: date-time
          description: Due date timestamp
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        completedAt:
          type: string
          format: date-time
          description: Completion timestamp
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- lemlist-openapi-v1-legacy.json
- lemlist-openapi-v2.json
- lemlist-openapi.yml
