openapi: 3.2.0
info:
  title: Lemlist Team API
  version: 1.0.0
  description: 'Operations tagged Team across 3 of this provider''s published API definitions: lemlist-openapi-v1-legacy.json, lemlist-openapi-v2.json, lemlist-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.lemlist.com/api
tags:
- name: Team
paths:
  /team:
    parameters: []
    get:
      summary: Get team
      tags:
      - Team
      parameters:
      - name: Content-Type
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  _id:
                    type: string
                  name:
                    type: string
                  userIds:
                    type: array
                    items:
                      type: string
                  createdBy:
                    type: string
                  createdAt:
                    type: string
                    format: date-time
                  hooks:
                    type: array
                    items:
                      type: object
                      properties:
                        _id:
                          type: string
                        targetUrl:
                          type: string
                          format: uri
                        createdAt:
                          type: string
                          format: date-time
                        zapId:
                          type: integer
                        type:
                          type: string
                        campaignId:
                          type: string
                  beta:
                    type: array
                    items:
                      type: string
                  slackWebhook:
                    type: string
                    format: uri
                  invitedUsers:
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          type: string
                          format: email
                        role:
                          type: string
                        invitedBy:
                          type: string
                        invitedAt:
                          type: string
                          format: date-time
                  agency:
                    type: string
                  pictureId:
                    type: string
              example:
                _id: tea_c123fg5h8ijKL9noP
                name: lemlist-admin
                userIds:
                - usr_V7dQtF3sBnOv6LY5w
                - usr_P5jMxR2yZhLt8BC4t
                - usr_K2gTwJ7vXpRs3NF8p
                createdBy: usr_H8wrBoV4mtQx2NP6k
                createdAt: '2018-02-22T08:52:30.732Z'
                hooks:
                - _id: hoo_3JKlmnOp7qrStuvWx
                  targetUrl: https://hooks.zapier.com/hooks/standard/*your-webhook-id*/
                  createdAt: '2020-04-07T09:12:34.674Z'
                  zapId: 83355551
                  type: emailsOpened
                  campaignId: cam_A1B2C3D4E5F6G7H8I9
                - _id: hoo_4LMnopQr8stUvWxYz
                  targetUrl: https://hooks.zapier.com/hooks/standard/*your-webhook-id*/
                  createdAt: '2020-05-05T09:58:17.795Z'
                  zapId: 86330503
                  type: emailsOpened
                  campaignId: cam_K9L8M7N6O5P4Q3R2S1
                beta:
                - scroll
                slackWebhook: https://hooks.slack.com/services/REDACTED
                invitedUsers:
                - email: emily.johnson@example.com
                  role: admin
                  invitedBy: usr_A1xPwN8zYkGt9JD3q
                  invitedAt: '2023-11-22T14:14:04.617Z'
                - email: david.wilson@example.com
                  role: member
                  invitedBy: usr_L9mKrU5vWpHt2ZX1r
                  invitedAt: '2024-04-03T21:55:08.105Z'
                agency: usr_H8wrBoV4mtQx2NP6k
                pictureId: fil_AaBbCcDdEeFfGgHhI8.png
        '401':
          headers: {}
          description: Unauthorized
    servers:
    - url: https://api.lemlist.com/api
  /team/senders:
    parameters: []
    get:
      summary: Get Senders
      tags:
      - Team
      parameters:
      - name: state
        in: query
        required: false
        description: (Optional) Filter by campaign's state (running, paused, draft, ended, archived, errors)
        example: running
        schema:
          type: string
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: string
                    campaigns:
                      type: array
                      items:
                        type: object
                        properties:
                          _id:
                            type: string
                          name:
                            type: string
                          status:
                            type: string
                          sendingChannels:
                            type: array
                            items:
                              type: string
              example:
              - userId: usr_T3dhQkG8xzCv4MU1e
                campaigns:
                - _id: cam_A1B2C3D4E5F6G7H8I9
                  name: Insights Outreach 2024
                  status: draft
                  sendingChannels:
                  - linkedinInvite
                  - linkedinVisit
                  - linkedinSend
                  - email
                - _id: cam_K9L8M7N6O5P4Q3R2S1
                  name: Discover Solutions Campaign
                  status: ended
                  sendingChannels:
                  - linkedinInvite
                  - email
                - _id: cam_T3U4V5W6X7Y8Z9A1B2
                  name: Unlock Potential Initiative
                  status: running
                  sendingChannels:
                  - linkedinInvite
                - _id: cam_M5N4O3P2Q1R9S8T7U6
                  name: Future Innovations Outreach
                  status: paused
                  sendingChannels:
                  - linkedinInvite
                  - email
                - _id: cam_G6H7I8J9K0L1M2N3O4
                  name: Insightful Solutions Drive
                  status: ended
                  sendingChannels:
                  - linkedinInvite
                  - linkedinVisit
                  - linkedinSend
                  - email
              - userId: usr_L7vsBnX5ykPw2TA9r
                campaigns:
                - _id: cam_K9L8M7N6O5P4Q3R2S1
                  name: Discover Solutions Campaign
                  status: ended
                  sendingChannels:
                  - email
                - _id: cam_T3U4V5W6X7Y8Z9A1B2
                  name: Unlock Potential Initiative
                  status: running
                  sendingChannels:
                  - linkedinVisit
                - _id: cam_M5N4O3P2Q1R9S8T7U6
                  name: Future Innovations Outreach
                  status: paused
                  sendingChannels:
                  - email
        '401':
          headers: {}
          description: Unauthorized
    servers:
    - url: https://api.lemlist.com/api
  /team/credits:
    parameters: []
    get:
      summary: Credits
      tags:
      - Team
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  credits:
                    type: integer
                  details:
                    type: object
                    properties:
                      remaining:
                        type: object
                        properties:
                          total:
                            type: integer
                          freemium:
                            type: integer
                          subscription:
                            type: integer
                          gifted:
                            type: integer
                          paid:
                            type: integer
              example:
                credits: 100
                details:
                  remaining:
                    total: 100
                    freemium: 0
                    subscription: 80
                    gifted: 10
                    paid: 10
        '401':
          headers: {}
          description: Unauthorized
    servers:
    - url: https://api.lemlist.com/api
  /team/crmUsers:
    parameters: []
    get:
      summary: Get Users CRMs
      tags:
      - Team
      parameters:
      - name: Content
        in: header
        required: false
        example: application/json
        schema:
          type: string
      responses:
        '200':
          headers:
            Content-Type:
              schema:
                type: string
              example: application/json
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    userId:
                      type: string
                    crm:
                      type: string
              example:
              - userId: usr_h47tiJr87Zn7XtQHi
                crm: salesforce
              - userId: usr_h47tiJr87Zn7XtQHi
                crm: hubspot
              - userId: usr_h47tiJr87Zn7XtQHi
                crm: pipedrive
        '401':
          headers: {}
          description: Unauthorized
    servers:
    - url: https://api.lemlist.com/api
components:
  schemas:
    Webhook:
      type: object
      description: Webhooks send real-time HTTP notifications upon campaign events (opens, clicks, replies, etc.).
      properties:
        _id:
          type: string
          description: Unique webhook identifier
        targetUrl:
          type: string
          format: uri
          description: Destination URL for event notifications
        type:
          type: string
          description: Event type to listen for. Events are grouped by category — see the endpoint docs for a full breakdown.
          enum:
          - contacted
          - hooked
          - attracted
          - warmed
          - interested
          - notInterested
          - emailsSent
          - emailsOpened
          - emailsClicked
          - emailsReplied
          - emailsBounced
          - emailsFailed
          - emailsInterested
          - emailsNotInterested
          - emailsUnsubscribed
          - linkedinSent
          - linkedinOpened
          - linkedinReplied
          - linkedinInterested
          - linkedinNotInterested
          - linkedinSendFailed
          - linkedinVisitDone
          - linkedinVisitFailed
          - linkedinFollowDone
          - linkedinFollowFailed
          - linkedinFollowSkipped
          - linkedinInviteDone
          - linkedinInviteFailed
          - linkedinInviteAccepted
          - linkedinEndorseDone
          - linkedinEndorseFailed
          - linkedinEndorseSkipped
          - linkedinVoiceNoteDone
          - linkedinVoiceNoteFailed
          - linkedinLikeLastPostDone
          - linkedinLikeLastPostNoPost
          - linkedinLikeLastPostFailed
          - linkedinWithdrawInvitationDone
          - linkedinWithdrawInvitationFailed
          - whatsappMessageSent
          - whatsappMessageDelivered
          - whatsappMessageOpened
          - whatsappReplied
          - whatsappMessageFailed
          - smsSent
          - smsDelivered
          - smsReplied
          - smsFailed
          - aircallCreated
          - aircallEnded
          - aircallDone
          - aircallInterested
          - aircallNotInterested
          - apiDone
          - apiInterested
          - apiNotInterested
          - apiFailed
          - manualInterested
          - manualNotInterested
          - paused
          - resumed
          - stopped
          - campaignComplete
          - customDomainErrors
          - connectionIssue
          - sendLimitReached
          - lemwarmPaused
          - annotated
          - enrichmentDone
          - enrichmentError
          - callRecordingDone
          - callTranscriptDone
          - inboxLabelUpdated
          - signalRegistered
          - deliverabilityAlertTriggered
        campaignId:
          type: string
          description: The ID of the campaign the webhook is associated with (if any)
        createdAt:
          type: string
          format: date-time
          description: Creation timestamp
        zapId:
          type: integer
          description: Zapier integration ID (if the destination is a Zapier webhook)
    Credits:
      type: object
      description: Credits are the coins a team uses to enrich emails, LinkedIn URLs, etc. Each enrichment feature needs a certain amount of credits to run.
      properties:
        credits:
          type: integer
          description: Total credits remaining
        details:
          type: object
          properties:
            remaining:
              type: object
              properties:
                total:
                  type: integer
                  description: Total credits remaining
                freemium:
                  type: integer
                  description: Freemium credits remaining
                subscription:
                  type: integer
                  description: Subscription credits remaining
                gifted:
                  type: integer
                  description: Gifted credits remaining
                paid:
                  type: integer
                  description: Paid credits remaining
    Team:
      type: object
      description: The organization account that manages users and billing.
      properties:
        _id:
          type: string
          description: Unique team identifier
        name:
          type: string
          description: Team name
        userIds:
          type: array
          description: User IDs in this team
          items:
            type: string
        createdBy:
          type: string
          description: User ID who created the team
        createdAt:
          type: string
          format: date-time
          description: Date and time when the team was created
        hooks:
          type: array
          description: Webhooks configured for the team
          items:
            $ref: '#/components/schemas/Webhook'
        beta:
          type: array
          description: Beta features enabled for the team
          items:
            type: string
        slackWebhook:
          type: object
          properties:
            url:
              type: string
              format: uri
              description: Slack webhook URL for notifications
            failCounter:
              type: integer
              description: Number of consecutive failed notifications
          description: Slack webhooks configured for the team
        invitedUsers:
          type: array
          description: Pending user invitations
          items:
            type: object
            properties:
              email:
                type: string
                format: email
              role:
                type: string
              invitedBy:
                type: string
              invitedAt:
                type: string
                format: date-time
        agency:
          type: string
          description: Agency identifier if team is part of an agency
        pictureId:
          type: string
          description: Team profile picture file ID
        customDomain:
          type: string
          description: Custom domain for the team
        users:
          type: array
          description: Team members with their basic details. Only returned when the request includes the `version=v2` query parameter.
          items:
            type: object
            properties:
              userId:
                type: string
                description: Unique user identifier
              name:
                type: string
                description: User's full name
              email:
                type: string
                format: email
                description: User's primary email address
              role:
                type: string
                description: User's role in the team
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
x-refined-from:
- lemlist-openapi-v1-legacy.json
- lemlist-openapi-v2.json
- lemlist-openapi.yml
